## Importar librerías

In [1]:
import pandas as pd 
import numpy as np
import os
import data_util as util
from ydata_profiling import ProfileReport

## Cargar datos preprocesados previamente

In [2]:
ruta = '../data/auxiliar/aire.csv'
ruta_nuevoCSV = '../data/calidad_aire.csv'
df_aire = pd.read_csv(ruta)
df_aire.head(2)

,FECHA,ANO,MES,DIA,HORA,DIA_SEMANA,ESTACION,SO2,CO,NO2,PM2.5,PM10,O3,BTX
0,2019-01-01 00:00:00,2019.0,1.0,1.0,0,Martes,8.0,13.0,0.7,79.0,24.0,32.0,3.84,6.4
1,2019-01-01 01:00:00,2019.0,1.0,1.0,1,Martes,8.0,13.0,0.6,76.0,33.0,105.0,3.61,4.9

In [3]:
ruta = '../data/auxiliar/meteo.csv'
df_meteo = pd.read_csv(ruta)
df_meteo.head(2)

                 FECHA  TEMPERATURA  HUMEDAD
0  2019-01-01 00:00:00          6.9     50.0
1  2019-01-01 01:00:00          6.7     48.0

In [4]:
print(df_aire.shape)
print(df_meteo.shape)

(38256, 14)
(38280, 3)

## Fusionar Dataframe

* Mediante la función merge(), se fusionan los dataframe tomando como clave para la fusión la columna 'FECHA'

In [5]:
# Realizar la concatenación utilizando la columna 'fecha' como clave
df_cali_aire = pd.merge(df_aire, df_meteo, on='FECHA')

# Mostrar el DataFrame concatenado
df_cali_aire.head(2)

,FECHA,ANO,MES,DIA,HORA,DIA_SEMANA,ESTACION,SO2,CO,NO2,PM2.5,PM10,O3,BTX,TEMPERATURA,HUMEDAD
0,2019-01-01 00:00:00,2019.0,1.0,1.0,0,Martes,8.0,13.0,0.7,79.0,24.0,32.0,3.84,6.4,6.9,50.0
1,2019-01-01 01:00:00,2019.0,1.0,1.0,1,Martes,8.0,13.0,0.6,76.0,33.0,105.0,3.61,4.9,6.7,48.0

In [6]:
df_cali_aire.columns

Index(['FECHA', 'ANO', 'MES', 'DIA', 'HORA', 'DIA_SEMANA', 'ESTACION', 'SO2',
       'CO', 'NO2', 'PM2.5', 'PM10', 'O3', 'BTX', 'TEMPERATURA', 'HUMEDAD'],
      dtype='object')

## Valores faltantes

In [7]:
df_cali_aire.isnull().sum()

FECHA             0
ANO               0
MES               0
DIA               0
HORA              0
DIA_SEMANA        0
ESTACION          0
SO2             744
CO              570
NO2             479
PM2.5          2685
PM10           2726
O3             1024
BTX               0
TEMPERATURA     557
HUMEDAD         609
dtype: int64

In [8]:
util.calc_missing(df_cali_aire)

SO2 744 / 38256= 1.94 %
CO 570 / 38256= 1.49 %
NO2 479 / 38256= 1.25 %
PM2.5 2685 / 38256= 7.02 %
PM10 2726 / 38256= 7.13 %
O3 1024 / 38256= 2.68 %
TEMPERATURA 557 / 38256= 1.46 %
HUMEDAD 609 / 38256= 1.59 %

## Salvar datos

In [9]:
df_cali_aire.to_csv(ruta_nuevoCSV, index=False) # Salvado con todos los datos